## Data Analysis Example
### Sample Excel File for SuperStore : 

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [ ]:
import xlrd

wb = xlrd.open_workbook('SampleSuperStore.xls')
# ws = wb.active
ws = wb.sheet_by_index(0)

# data = [ws.row_values(rowx) for rowx in range(ws.nrows)]

listrows = []
for row in range(5):
	listrows.append(ws.row_values(row))


print (listrows)

In [ ]:
import pandas as pd

df = pd.read_excel('SampleSuperStore.xls')

df

In [ ]:
df.info()
df.dtypes

In [ ]:
print (df.count())

In [12]:
df.loc[0]

Row ID                                           1
Order ID                            CA-2016-152156
Order Date                     2016-11-08 00:00:00
Ship Date                      2016-11-11 00:00:00
Ship Mode                             Second Class
Customer ID                               CG-12520
Customer Name                          Claire Gute
Segment                                   Consumer
Country                              United States
City                                     Henderson
State                                     Kentucky
Postal Code                                  42420
Region                                       South
Product ID                         FUR-BO-10001798
Category                                 Furniture
Sub-Category                             Bookcases
Product Name     Bush Somerset Collection Bookcase
Sales                                       261.96
Quantity                                         2
Discount                                       0.0
Profit                                     41.9136
Name: 0, dtype: object

In [6]:
df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [ ]:
pd.set_option('display.max_columns', 100)
df[df['State'] == 'California']

In [ ]:
df[df['City'] == 'Los Angeles']

In [ ]:
df[(df['City'] == 'Los Angeles' )| (df['City'] == 'Costa Mesa')]

In [ ]:
df[df['State'].str.contains(r'^C+')]

### Misc

In [6]:
string1 = "Hello-World-2021-and-welcolme-2022"

ret = string1.split('-')
print (ret)

first, second, third, *rest = string1.split('-')
print (first, second, third)

['Hello', 'World', '2021', 'and', 'welcolme', '2022']
Hello World 2021

#### Re

In [24]:
import re

reg = re.compile("Ca+")
string = 'California'
print (bool(re.match(reg, string )))

True

#### <a ref="https://www.dataquest.io/blog/regular-expressions-data-scientists/"> Common Python Regex Patterns </a>
<img src="https://nimbus-screenshots.s3.amazonaws.com/s/b80b8bd249ab7ba7e92d6205a165b66f.png" align=left>